
body{
    margin: 0;
    font-family: 'Quicksand' sans-serif;
}
.login{
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
}
.form-container{
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 300px;
}
.form{
    display: flex;
    flex-direction: column;
}
.form a{
    color: var(--green);
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    margin-bottom: 52px;
}
.label{
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 4px;
}
.input{
    background-color: var(--lightgreen);
    border: none;
    border-radius: 8px;
    height: 30px;
    font-size: 16px;
    padding: 6px;
    margin-bottom: 12px;
}
.input-email{
    margin-bottom: 22px;
}
.primary-button{
    background-color: #99CC00;
    border-radius: 8px;
    border: none;
    color: darkgreen;
    width: 100%;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    height: 50px;
}
.secondary-button{
    background-color: #04B486;
    border-radius: 8px;
    border: 1px solid;
    color: darkgreen;
    width: 100%;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    height: 50px;
}
.login-button{
    margin-top: 14px;
    margin-bottom: 30px;
}
/* Menu grande */
.menu-big{
    padding: 24px;
}
.menu-big a{
    text-decoration: none;
    color: #04B486;
    font-weight: bold;
    font-size: 18px;
}
.menu-big ul{
    padding: 0;
    margin: 24 0 0;
    list-style: none;
}
.menu-big ul:nth-child(1){
    border-bottom: 1px solid #c7c7c7;
}
.menu-big ul:nth-child(3){
    position: absolute;
    bottom: 0;
}
.menu-big ul li{
    margin-bottom: 24px;
}
.email{
    font-size: 16px;
    font-weight: 300 !important;
}
.sign-out{
    font-size: 16px;
    color: cyan;
}
/* Menu chico */
.menu-chico{
    width: 100px;
    height: auto;
    border: 1px solid #c7c7c7;
    border-radius: 6px;
    padding: 20px 20px 0 20px;
    box-shadow: 3px 3px black;
    cursor: pointer;
}
.menu-chico:hover{
    background-color: #E6F8E0;
    
}
.menu-chico ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.menu-chico ul li {
    text-align: end;
}
.menu-chico ul li:last-child(1), .menu-chico ul li:last-child(2){
    font-weight: bold;
} 
.menu-chico ul li:last-child{
    padding-top: 20px;
    border-top: 1px solid #c7c7c7;
}
.menu-chico ul li:last-child a{
    color: #04B486;
    font-size: 16px;
}
.menu-chico ul li a{
    color: black;
    text-decoration: none;
    margin-bottom: 20px;
    display: inline-block;
}
/* menu-cabecera  */
nav{
    display: flex;
    justify-content: space-between;
    padding: 0 24px;
    border-bottom: 1px solid #5f8404;
    background-color: #CEF6CE;
    
}
nav .nav__ul{
    display: flex;
    list-style: none;
    
}
.nav__ul li a{
    text-decoration: none;
    padding: 14px;
    color: darkgreen;
    border-radius: 8px;
}
.nav__ul li a:hover{
    color: black;
    background-color: #99CC00;
    cursor: pointer;
}
.navbar-right ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    height: 60px;
}
.navbar-email{
    color: darkgreen;
    font-size: 14px;
    margin-right: 12px;
}
.navbar-email:hover{
    background-color: #99CC00;
    border-radius: 8px;
    cursor: pointer;
    padding: 10px;
}
.navbar-shopping{
    position: relative;
}
.navbar-shopping div{
    width: 16px;
    height: 16px;
    background-color: #ACD9B2;
    border-radius: 50%;
    font-size: 14PX;
    font-weight: bold;
    position: absolute;
    top: -6PX;
    right: -3;
    display: flex;
    justify-content: center;
    align-items: center;
}