*{
    margin: 0;
    padding: O;
    box-sizing: border-box;
}
.main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cabecera{
    background-color: #1f1f1f;
    width: 100%;
    height: 100px;
}
.cabecera img{
    object-fit: cover;
    height: 100px;
    margin-right: 300px;
}
.cabecera-link{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-left: 20px;
    text-decoration: none;
    color: rgb(38, 176, 163);
    font-size: 40px;
    font-weight: 600px;
}
.navegacion{
    background-color: #415c6b;
    width: 100%;
    height: 50px;
    padding: 0 40px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.navegacion a{
    text-decoration: none;
    color: rgb(38, 176, 163);
    font-size: 20px;
    font-weight: 600px;
    padding: 20px 15px;
    
}
.navegacion a:hover{
    background-color: aquamarine;
    color: black;
    border-radius: 10px;
    padding: 0 20px;
}
.banner{
    background-image: url("./img/horizontal1.jpg!d");
    background-size: cover;
    background-position: top;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #009A9D;
}
.banner_texto{
    padding-left: 50px;
}
.banner_texto h2{
    font-size: 50px;
    margin-bottom: 15px;
}
.banner_texto p{
    font-size: 25px;
    margin-bottom: 50px;
}
.banner_texto a{
    text-decoration: none;
    background-color: rgb(151, 3, 15);
    color:  wheat;
    font-size: 25px;
    font-weight: bold;
    padding: 30px;
    border-radius: 80px;
    
}
.banner_texto a:hover{
    background-color: cadetblue;
    color: #1f1f1f;
}

/* seccion1 */
.contenedor-1{
    width: 100%;
    height: 110vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #009A9D;
    color: rgb(43, 149, 138);
    }

.fotos{
    
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.foto_img img{
    width: 300px;
    height: 200px;
}
.foto_img{
    background-color:#e2ddd9;
    width: 30%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-radius: 20px;
}
.foto_img h3{
    font-size: 28px;
}
.foto_img h3:hover{
    color: violet;
}
.foto_img a{
    background-color: #415c6b;
    color: #2b83b3;
    text-decoration: none;
    width: 50%;
    border-radius: 10px;
    padding: 10px 40px;
    margin: 20px;
    font-size: 30px;
    font-weight: 600px;
}
.foto_img:hover{
    box-shadow: 5px 5px 20px rgba(21, 222, 245, 0.4);
}
.foto_img a:hover{
    background-color: thistle;
    color: blueviolet;
}
/* seccion 2 */
.contenedor-2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    height: 100vh;
    padding: 2rem;
    background-color: #e2ddd9;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    height: 400px;
}
.contenedor-2__titulo{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    
}
.contenedor-2__titulo h3{
    font-size: 30px;
    font-weight: bold;
    color: rgb(38, 176, 163);
    text-shadow: 2px 2px rgb(38, 176, 163);
}
.contenedor-2__titulo p{
    font-size: 25px;
    text-align: center;
    margin: 20px ;
}
.info{
    display: block;
    margin-left: 30px;
    
}
.info img{
    width: 20px;
}
.info p{
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
}
.social-media{
    display: flex;
    margin-left: 10px;
    margin-top: 25px;
}
/* .social-media a{
    width: 30px;
    height: 30px;
    background-color: lightseagreen;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-right: 0.5rem;
    text-decoration: none;
}
.social-media a:hover{
    transform: scale(1.05);
} */
form{
    background-color: #007E8B;
    width: 100%;
    height: 400px;
    padding: 15px 10px;
    border: 1px solid lightseagreen;
    margin-bottom: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
form input{
    width: 250px;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    background-color: rgb(202, 232, 241);
}
textarea{
    background-color: rgb(202, 232, 241);
    margin-bottom: 10px;
    border-radius: 8px;
}
.submit{
    font-size: 18px;
    font-weight: bold;
}
.submit:hover{
    background-color: #415c6b;
    color: aliceblue;
}
/* seccion 3 */
.contenedor-3{
    background-color: #222;
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pie-pagina{
    width: 100%;
    background-color: #1f1f1f;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 250px;
}
.pie-pagina .grupo-1 .box h2{
    color: #fff;
    font-size: 20px;
    margin-bottom: 25px;
}
.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #1b1b44;
    text-align: center;
    transition: all 300ms ease;
    border-radius: 8px;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: #007E8B;
    background-color: turquoise;
}
.pie-pagina .grupo-2{
    background-color: #141212;
    padding: 15px, 10px;
    text-align: center;
    color: #fff;
    font-size: 15px;
    padding: 10px;
}
