.contact{
    background-color: var(--primary-color);
    color: var(--text-color-inverse);
    font-size: 18px;
    border-radius: 14px;
    padding: 25px;

    display: grid;
    gap: 25px;
}
.contact p,
.contact h2,
.contact ul{
    margin: 0;
    padding: 0;
}
.contact-title{
    font-size: 30px;
    font-weight: 500px;
    text-align: center;
    text-transform: uppercase;
}
.contact-details,
.contact-form{
    display: grid;
    gap: 20px;
}
.contact-details-group,
.contact-form-group {
    display: grid;
    grid-area: 3px;
}
.contact-label{
    text-transform: uppercase;
    font-weight: 500px;
}
.contact-form input,
.contact-form text{
    border-radius: 7px;
    border: none;
    height: 30px;
    padding: 5px 10px;
}
.contact-form textarea{
    height: auto;
    resize: vertical;
}
.contact-form-submit{
    width: 100%;
    height: 50px;
    background-color: var(--text-color);
    border-radius: 7px;
    color: var(--text-color-inverse);
    border: 1px solid var(--theme-color);
    cursor: pointer;
}
.contact-form-submit:hover{
    box-shadow: 0 0 14px var(--secondary-color);
}
.social-list{
    list-style: none;
    display: flex;
    gap: 25px;
    justify-content: center;
}
.social-list img{
    height: 25px;
}
.social-list img:hover{
    filter: drop-shadow(0 0 14px var(--secondary-color));
}

@media (min-width: 950px){
    .contact{
        background-color: rgb(208, 0, 255);
        font-size: 20px;
        padding: 70px;
        max-width: 990px;
        margin: 0 auto;
        box-sizing: border-box;

        display: grid;
        grid: "title form" auto
               "detail form" 1fr 
               "social form" /
               1fr 1fr;
               align-items: start;
    }
    .contact-title{
        font-size: 35px;
        text-align: left;
        grid-area: title;
    }
    .contact-details{
        grid-area: detail;
    }
    .contact-form{
        grid-area: form;
    }
    .social{
        grid-area: social;
    }
    .social-list{
        justify-content: flex-start;
    }
    .social-list img{
        height: 35px;
    }
}